@charset "utf-8";
/* CSS Document */
#num1
img{
	height: 50px;
}
h1{
	position:absolute;
	color: black;
	background: #9B18D3;
	margin: 50px 100px 20px 100px;
} 
p{
	color: blueviolet;
	position: absolute;
	left:5px;
}
#num2 
p{
	background: #9B18D3;
	position: absolute;
	right: 5px;
	
}


